name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  cicd:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Check versions
        run: |
          jq -e '(.packageManager|split("@")|.[1]) == (.devDependencies["bun-types"])' package.json
